html {
  font-family: Arial, sans-serif;
}

.editorClassName {
  /* border:3px solid #777; */
}

.parent {
  text-align: center;
  overflow: auto;
  display: block;
  margin: auto;
}

p.whitespace-nowrap {
  white-space: nowrap;
}

p,
button {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  /* font-size: 20px; */
}

.wrapperClassName {}

.wrapper {
  display: inline-block;
  /* border:3px solid black; */
  /* width:400px; */
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  background: #eee;
  height: 100%;
  border-left: 1px solid black;
  text-align: center;
}